body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: black; /* Set the background color to black */
}

.circle-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-grid-row {
  display: flex;
}

.circle-grid-cell {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  margin: 5px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white; /* Text color */
  font-size: 16px; /* Adjust as needed */
  background-color: #3498db; /* Default background color */
}

.sum-display{
  color: #ff0000;
  font-size: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
